.two_weather_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-left: 2rem;
  color: #a186d6;
}
.two_weather_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
