@media (min-width: 1000px) {
  .main_content {
    min-width: 900px;
    // min-height: 780px;
    // height: 100%;
    height: auto;
    width: 900px;
    margin: 0 auto;
    border: 1px solid #b8b8e6;
    border-radius: 5px;
    background-color: #e6e6fa;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    // transition: width 0.3s ease;

    &.on {
      width: 1250px;

      gap: 10px;
    }
    .main_box {
      width: 900px;
      height: 100%;

      .r_monitor {
        width: 100%;
        // height: 130px;
        height: 230px;

        margin-bottom: 10px;
        background-color: #cfcff1;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-content: space-between;
        flex-wrap: wrap;
        // gap: 10px;
        .monitor_top_box {
          width: 100%;
          .monitor_text {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
              height: 7px;
            }
            &::-webkit-scrollbar-track {
              background: #bdbde9;
              border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: #b19ae0;
              border-radius: 5px;
            }
            &.monitor_top_text {
              font-size: 2.3rem;
              text-align: right;
              // height: 45px;
            }
          }
          .monitor_result {
            width: 100%;
            // height: 45px;
            font-size: 2.3rem;
            text-align: right;
            color: #666;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
              height: 7px;
            }
            &::-webkit-scrollbar-track {
              background: #bdbde9;
              border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: #b19ae0;
              border-radius: 5px;
            }
          }
        }
        .monitor_bottom_box {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 15px;
          .monitor_bottom_box_1 {
            width: 60px;

            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;

            .m_s_text_top {
              font-size: 1rem;
              font-weight: 500;

              margin-bottom: 3px;
              &:last-child {
                margin-bottom: 0px;
              }
            }
          }

          .monitor_bottom_box_2 {
            width: calc(100% - 60px);
            overflow: hidden;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;

            &::-webkit-scrollbar {
              height: 7px;
            }
            &::-webkit-scrollbar-track {
              background: #bdbde9;
              border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: #b19ae0;
              border-radius: 5px;
            }

            .m_s_text_result {
              width: 100%;
              margin-bottom: 3px;
              font-size: 1rem;
              font-weight: 500;

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
      .button_big_box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .button_box_center {
          width: 100%;
          height: 60px;

          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          border-radius: 5px;
          background-color: #a1a1d3;
          color: #fff;
          cursor: pointer;
        }
        .button_box_mobile_show_btn {
          width: 100%;
          height: 60px;
          border: 1px solid #b8b8e6;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          border: none;
          display: none;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          background-color: #c1c1ee;
          &.off {
            display: none;
          }
        }
        .button_box_wrap {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 10px;

          .mobile_hidden {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 10px;
            &.on {
              display: flex;
            }
            .button_box {
              width: 49.4%;
              display: flex;
              gap: 10px;
              display: flex;
              align-items: center;
              justify-content: flex-start;

              .num_button {
                width: calc((100% - 20px) / 3);
                height: 60px;

                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #b8b8e6;
                border-radius: 5px;
                color: #7359a7;
                cursor: pointer;
                &.s_button {
                  border: none;
                  background-color: #b8b8e6;
                  color: #47475c;
                }
                &.s_b_big {
                  font-size: 1.3rem;
                }
                &.s_b_f {
                  font-weight: 600;
                }
                &.s_b_f_2 {
                  font-weight: 500;
                }
                &.all_del_button {
                  flex: auto;
                }
                &.one_del_button {
                  font-size: 1.2rem;
                }
              }
            }
          }
          .button_box {
            width: 49.4%;
            display: flex;
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .num_button {
              width: calc((100% - 20px) / 3);
              height: 60px;

              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #b8b8e6;
              border-radius: 5px;
              color: #7359a7;
              cursor: pointer;
              &.s_button {
                border: none;
                background-color: #b8b8e6;
                color: #47475c;
              }
              &.s_b_big {
                font-size: 1.3rem;
              }
              &.s_b_f {
                font-weight: 600;
              }
              &.s_b_f_2 {
                font-weight: 500;
              }
              &.all_del_button {
                flex: auto;
              }
              &.one_del_button {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
    .history_wrap {
      display: none;

      &.on {
        display: block;
      }
      .history_m_wrap {
        width: 338px;
        // min-height: 780px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;

        &:not(:empty) {
          border: none;
        }
        .history_small_wrap {
          width: 100%;
          height: calc(100% - 45px);
          min-height: 540px;
          max-height: 540px;
          border-radius: 5px;
          background-color: #f6f6ff;
          overflow: hidden;
          overflow-y: auto;
          border: 1px solid #b8b8e6;

          &::-webkit-scrollbar {
            width: 7px;
          }
          &::-webkit-scrollbar-track {
            background: #bdbde9;
            border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background: #b19ae0;
            border-radius: 5px;
          }

          .history_one {
            width: 100%;
            height: 70px;
            padding: 10px;
            text-align: right;
            border-top: 1px solid #b8b8e6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:first-child {
              margin-top: 0;
              border-top: none;
            }

            // &:last-child {
            //   margin-bottom: 20px;
            // }
            .history_one_check {
              appearance: none;
              -webkit-appearance: none; /* 크롬/사파리 지원 */
              -moz-appearance: none; /* 파이어폭스 지원 */
              cursor: pointer;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background-color: #f6f6ff;
              border: 1px solid #b8b8e6;
              position: relative;
              &:checked {
                background-color: #b8b8e6;
              }
              &:checked::after {
                content: "";
                position: absolute;
                top: -3px;
                left: 5px;
                width: 5px;
                height: 10px;
                border: solid #f6f6ff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg); /* 체크 표시 모양 */
              }
            }
            .history_one_in_box2 {
              .history_formula {
                color: #666;
              }
              .history_result {
                font-size: 1.1rem;
                font-weight: 600;
                margin-top: 10px;
              }
            }
          }
        }
        .history_bottom {
          width: 100%;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
          .all_check {
            cursor: pointer;
            align-items: center;
            display: flex;

            .history_all_check {
              appearance: none;
              -webkit-appearance: none; /* 크롬/사파리 지원 */
              -moz-appearance: none; /* 파이어폭스 지원 */
              cursor: pointer;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background-color: #f6f6ff;
              border: 1px solid #b8b8e6;
              position: relative;
              &:checked {
                background-color: #b8b8e6;
              }
              &:checked::after {
                content: "";
                position: absolute;
                top: -3px;
                left: 5px;
                width: 5px;
                height: 10px;
                border: solid #f6f6ff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg); /* 체크 표시 모양 */
              }
            }
            .history_all_check_text {
              color: #a3a3d3;
              margin-left: 5px;
              cursor: pointer;
            }
          }
          .delete_btn {
            height: 30px;
            padding: 5px;
            background-color: #b8b8e6;
            border-radius: 5px;
            color: #f4f4ff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .main_content {
    min-width: 370px;
    // min-height: 780px;
    // height: 100%;
    height: auto;
    width: 370px;
    margin: 0 auto;
    border: 1px solid #b8b8e6;
    border-radius: 5px;
    background-color: #e6e6fa;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: width 0.3s ease;

    &.on {
      width: 720px;

      gap: 10px;
    }
    .main_box {
      width: 350px;
      height: 100%;

      .r_monitor {
        width: 100%;
        // height: 130px;
        height: 230px;

        margin-bottom: 10px;
        background-color: #cfcff1;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-content: space-between;
        flex-wrap: wrap;
        // gap: 10px;
        .monitor_top_box {
          width: 100%;
          .monitor_text {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
              height: 7px;
            }
            &::-webkit-scrollbar-track {
              background: #bdbde9;
              border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: #b19ae0;
              border-radius: 5px;
            }
            &.monitor_top_text {
              font-size: 2.3rem;
              text-align: right;
              // height: 45px;
            }
          }
          .monitor_result {
            width: 100%;
            // height: 45px;
            font-size: 2.3rem;
            text-align: right;
            color: #666;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            &::-webkit-scrollbar {
              height: 7px;
            }
            &::-webkit-scrollbar-track {
              background: #bdbde9;
              border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: #b19ae0;
              border-radius: 5px;
            }
          }
        }
        .monitor_bottom_box {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 15px;
          .monitor_bottom_box_1 {
            width: 60px;

            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;

            .m_s_text_top {
              font-size: 1rem;
              font-weight: 500;

              margin-bottom: 3px;
              &:last-child {
                margin-bottom: 0px;
              }
            }
          }

          .monitor_bottom_box_2 {
            width: calc(100% - 60px);
            overflow: hidden;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;

            &::-webkit-scrollbar {
              height: 7px;
            }
            &::-webkit-scrollbar-track {
              background: #bdbde9;
              border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: #b19ae0;
              border-radius: 5px;
            }

            .m_s_text_result {
              width: 100%;
              margin-bottom: 3px;
              font-size: 1rem;
              font-weight: 500;

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }
      .button_big_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .button_box_center {
          width: 100%;
          height: 60px;

          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          border-radius: 5px;
          background-color: #a1a1d3;
          color: #fff;
          cursor: pointer;
        }
        .button_box_mobile_show_btn {
          width: 100%;
          height: 60px;
          border: 1px solid #b8b8e6;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          border: none;
          display: none;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          background-color: #c1c1ee;
          &.off {
            display: none;
          }
        }
        .button_box_wrap {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;

          .mobile_hidden {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            &.on {
              display: flex;
            }
            .button_box {
              width: 100%;
              display: flex;
              gap: 10px;
              display: flex;
              align-items: center;
              justify-content: center;

              .num_button {
                width: calc((100% - 20px) / 3);
                height: 60px;

                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #b8b8e6;
                border-radius: 5px;
                color: #7359a7;
                cursor: pointer;
                &.s_button {
                  border: none;
                  background-color: #b8b8e6;
                  color: #47475c;
                }
                &.s_b_big {
                  font-size: 1.3rem;
                }
                &.s_b_f {
                  font-weight: 600;
                }
                &.s_b_f_2 {
                  font-weight: 500;
                }
                &.all_del_button {
                  flex: auto;
                }
                &.one_del_button {
                  font-size: 1.2rem;
                }
              }
            }
          }
          .button_box {
            width: 100%;
            display: flex;
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            .num_button {
              width: calc((100% - 20px) / 3);
              height: 60px;

              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #b8b8e6;
              border-radius: 5px;
              color: #7359a7;
              cursor: pointer;
              &.s_button {
                border: none;
                background-color: #b8b8e6;
                color: #47475c;
              }
              &.s_b_big {
                font-size: 1.3rem;
              }
              &.s_b_f {
                font-weight: 600;
              }
              &.s_b_f_2 {
                font-weight: 500;
              }
              &.all_del_button {
                flex: auto;
              }
              &.one_del_button {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
    .history_wrap {
      display: none;

      &.on {
        display: block;
      }
      .history_m_wrap {
        width: 338px;
        // min-height: 780px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;

        &:not(:empty) {
          border: none;
        }
        .history_small_wrap {
          width: 100%;
          height: calc(100% - 45px);
          min-height: 810px;
          max-height: 810px;
          border-radius: 5px;
          background-color: #f6f6ff;
          overflow: hidden;
          overflow-y: auto;
          border: 1px solid #b8b8e6;

          &::-webkit-scrollbar {
            width: 7px;
          }
          &::-webkit-scrollbar-track {
            background: #bdbde9;
            border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background: #b19ae0;
            border-radius: 5px;
          }

          .history_one {
            width: 100%;
            height: 70px;
            padding: 10px;
            text-align: right;
            border-top: 1px solid #b8b8e6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:first-child {
              margin-top: 0;
              border-top: none;
            }

            // &:last-child {
            //   margin-bottom: 20px;
            // }
            .history_one_check {
              appearance: none;
              -webkit-appearance: none; /* 크롬/사파리 지원 */
              -moz-appearance: none; /* 파이어폭스 지원 */
              cursor: pointer;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background-color: #f6f6ff;
              border: 1px solid #b8b8e6;
              position: relative;
              &:checked {
                background-color: #b8b8e6;
              }
              &:checked::after {
                content: "";
                position: absolute;
                top: -3px;
                left: 5px;
                width: 5px;
                height: 10px;
                border: solid #f6f6ff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg); /* 체크 표시 모양 */
              }
            }
            .history_one_in_box2 {
              .history_formula {
                color: #666;
              }
              .history_result {
                font-size: 1.1rem;
                font-weight: 600;
                margin-top: 10px;
              }
            }
          }
        }
        .history_bottom {
          width: 100%;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
          .all_check {
            cursor: pointer;
            align-items: center;
            display: flex;

            .history_all_check {
              appearance: none;
              -webkit-appearance: none; /* 크롬/사파리 지원 */
              -moz-appearance: none; /* 파이어폭스 지원 */
              cursor: pointer;
              width: 15px;
              height: 15px;
              border-radius: 3px;
              background-color: #f6f6ff;
              border: 1px solid #b8b8e6;
              position: relative;
              &:checked {
                background-color: #b8b8e6;
              }
              &:checked::after {
                content: "";
                position: absolute;
                top: -3px;
                left: 5px;
                width: 5px;
                height: 10px;
                border: solid #f6f6ff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg); /* 체크 표시 모양 */
              }
            }
            .history_all_check_text {
              color: #a3a3d3;
              margin-left: 5px;
              cursor: pointer;
            }
          }
          .delete_btn {
            height: 30px;
            padding: 5px;
            background-color: #b8b8e6;
            border-radius: 5px;
            color: #f4f4ff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .main_content {
    flex-wrap: wrap;
    &.on {
      width: 370px;
    }
    .main_box {
      .button_big_box {
        .button_box_mobile_show_btn {
          width: 100%;
          height: 60px;
          border: 1px solid #b8b8e6;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          background-color: #c1c1ee;
          &.off {
            display: none;
          }
        }
        .button_box_wrap {
          .mobile_hidden {
            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            &.on {
              display: flex;
            }
          }
        }
      }
    }
    .history_wrap {
      display: none;
      width: 100%;
      &.on {
        display: block;
      }
      .history_m_wrap {
        width: 100%;
        height: 300px;

        .history_small_wrap {
          width: 100%;
          height: calc(100% - 45px);
          min-height: 260px;
          max-height: 260px;
        }
      }
    }
  }
}
