.top_nav_wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  .top_nav_title {
    font-size: 1rem;
    color: #b1b1cf;
    font-weight: 600;
    cursor: pointer;
    &.on {
      color: #646494;
    }
  }
}
@media (max-width: 400px) {
  .top_nav_wrap {
    margin-top: 20px;
  }
}
